[package]
name = "wasmtime-rr-tests"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap.workspace = true
env_logger = "0.11.8"
prime_factorization.workspace = true
wasmtime = { path = "../../wasmtime-rr-prototyping/crates/wasmtime", features = ["default", "rr-component", "rr-validate"] }
wasmtime-wasi = { path = "../../wasmtime-rr-prototyping/crates/wasi", features = ["default"] }
